.historyDisplay{
    display: flex; 
    flex-direction: column;
    background-color: #E9E9EB;
    width: 236px; 

}



.historyDisplay__header{
    color: black; 
   

}

.historyDisplay__body{
    color: black; 
    overflow:scroll; 
    height:350px; 
     
    
}

.historyDisplay__body__equation{
    color: black; 
    font-size:14px; 
}

.historyDisplay__body__answer{
    color: black; 
    font-size:22px
}

.historyDisplay__body__answer:hover{
    background-color:white; 
}

.historyDisplay__footer{
    color:black; 
}

.historyDisplay__footer:hover{
    background-color:white; 
}

